<%- include('head', {}); %>
<main class="badges-page">
        <div class="header-image-section">
            <img src="imgs/Badges-Illustration.svg">
        </div>
        <section class="section">
            <h1 class="section-title">Badges</h1>
            <p class="title-section-content">Collect badges as you write reviews, see shows and meet your favorite actors. </p>
            <a href="/signup"><button class="signup-button">Sign Up</button></a>
        </section>
        
        <section class="section">
            <h1 class="section-title">Reviews</h1>
            <p class="section-content">Write reviews to collect special review badges.</p>
            <div class="badges-display">
                <% for(var i=0; i<badges.length; i++) { %>
                    <% if (badges[i].type == "Review") { %>
                    <div class="badge-item">
                        <img src="imgs/<%=badges[i].img%>" alt="<%=badges[i].title%> image" class="badge-image">
                        <p class="badge-caption"><%=badges[i].title%></p>
                    </div>
                    <% } %> 
                <% } %> 
        </section>

        <section class="section">
            <h1 class="section-title">Shows</h1>
            <p class="section-content">Collect badges as you attend more shows.</p>
            <div class="badges-display">
                <% for(var i=0; i<badges.length; i++) { %>
                    <% if (badges[i].type == "Show") { %>
                    <div class="badge-item">
                        <img src="imgs/<%=badges[i].img%>" alt="<%=badges[i].title%> image" class="badge-image">
                        <p class="badge-caption"><%=badges[i].title%></p>
                    </div>
                    <% } %> 
                <% } %> 
        </section>  

        <section class="section">
            <h1 class="section-title">Lists</h1>
            <p class="section-content">Collect badges as you create show lists.</p>
            <div class="badges-display">
                <% for(var i=0; i<badges.length; i++) { %>
                    <% if (badges[i].type == "List") { %>
                    <div class="badge-item">
                        <img src="imgs/<%=badges[i].img%>" alt="<%=badges[i].title%> image" class="badge-image">
                        <p class="badge-caption"><%=badges[i].title%></p>
                    </div>
                    <% } %> 
                <% } %> 
        </section>             

        <section class="section badge-suggestion">
            <h1 class="section-title">Suggest a Badge</h1>
            <p class="section-content">Have an idea for a badge or badge series? Enter a comment below!</p>
            <form name="badgeSuggestionForm" action="/badgeSuggestion" method="post" onsubmit="return validateReviewForm()">
                <label for="badge-name"><span class="visually-hidden">Enter a name for your suggested badge</span></label>
                <input type="text" name="name" placeholder="Badge name" class="badge-name-suggestion" id="badge-name">
                <lable for="badge-suggestion"><span class="visually-hidden">Enter a description of your suggested badge</span></lable>
                <input type="text" name="suggestion" placeholder="Badge suggestion here" class="badge-text-suggestion" id="badge-suggestion">
                <button class="submit-button">Submit<span class="visually-hidden">Submit badge suggestion</span></button>
            </form>
        </section>    
        
    </main>

    <%- include('footer', {}); %>
    <%- include('scripts', {}); %>
</body>
</html>