<!-- page to display showlists main page for all users  -->

<%- include('head', {}); %>

 <main class="showlists-page">
        <div class="header-image-section">
            <img src="imgs/Lists-Illustration.svg" class="lists-illustration">
        </div>

        <section class="section">
            <h1 class="section-title">Show Lists</h1>
            <p class="title-section-content">Show Lists help you keep an organized list of each theater show you have seen. </p>
            <a href="/signup"><button class="signup-button">Sign Up</button></a>
        </section>
        
        <section class="section">
            <h1 class="section-title">Recent</h1>

            <% for(var i=0; i<showlists.length; i++) { %>
                <div class="showlist-summary">
                    <div class="showlist-summary-header">
                        <a href="/showlist/<%=showlists[i]._id%>"><h2 class="showlist-title"><%=showlists[i].showListTitle%></h2></a>
                        <button class="showlist-<%=showlists[i].showListType%>-button"><%=showlists[i].showListType.toUpperCase()%><span class="visually-hidden"><%=showlists[i].showListType%> Show List Label</span></button>
                    </div>

                    <p class="showlist-content"><%=showlists[i].showListDescription%></p>

                    <div class="showlist-stats">
                        <p class="showlist-show-count">Total Shows: <%=showlists[i].shows.length%></p>
                    </div>
                </div>
            <% } %>
                     
        </section>

         <section class="section">
            <h1 class="section-title">Wish Lists</h1>
            
            <% for(var i=0; i<showlists.length; i++) { %>
                <% if (showlists[i].showListType == "wish") { %>
                <div class="showlist-summary">
                    <div class="showlist-summary-header">
                        <a href="/showlist/<%=showlists[i]._id%>"><h2 class="showlist-title"><%=showlists[i].showListTitle%></h2></a>
                        <button class="showlist-<%=showlists[i].showListType%>-button"><%=showlists[i].showListType.toUpperCase()%><span class="visually-hidden"><%=showlists[i].showListType%> Show List Label</span></button>
                    </div>

                    <p class="showlist-content"><%=showlists[i].showListDescription%></p>

                    <div class="showlist-stats">
                        <p class="showlist-show-count">Total Shows: <%=showlists[i].shows.length%></p>
                    </div>
                </div>
                <% } %>
            <% } %>

        </section>

        <section class="section">
            <h1 class="section-title">Travel Lists</h1>
            <% for(var i=0; i<showlists.length; i++) { %>
                <% if (showlists[i].showListType == "trip") { %>
                <div class="showlist-summary">
                    <div class="showlist-summary-header">
                       <a href="/showlist/<%=showlists[i]._id%>"><h2 class="showlist-title"><%=showlists[i].showListTitle%></h2></a>
                        <button class="showlist-<%=showlists[i].showListType%>-button"><%=showlists[i].showListType.toUpperCase()%><span class="visually-hidden"><%=showlists[i].showListType%> Show List Label</span></button>
                    </div>

                    <p class="showlist-content"><%=showlists[i].showListDescription%></p>

                    <div class="showlist-stats">
                        <p class="showlist-show-count">Total Shows: <%=showlists[i].shows.length%></p>
                    </div>
                </div>
                <% } %>
            <% } %>           

    </main>

    <%- include('footer', {}); %>
    <%- include('scripts', {}); %>
</body>
</html>