<%- include('head', {}); %>

    <main class="write-review-page">
        <section class="section review-form">
            <h1 class="section-title">Review Editor</h1>
        
        <form name="reviewForm" action="/review" method="post" onsubmit="return validateReviewForm()">
            <input id="userId" name="userId" type="hidden" value="<%=user._id%>">
            <div class="form-group">
                <label for="review-title" class="visually-hidden">Review Title</label>
                <input type="text" class="form-control" name="reviewTitle" placeholder="Review Title" id="review-title" required>
                <label for="show-title" class="form-label visually-hidden">Show Title</label>
                <select name="showId" id="show-title" style="width: 100%" required>
                    <option value="">Select a Show...</option>
                <% for(var i=0; i<shows.length; i++) { %>
                    <option value="<%=shows[i]._id%>"><%=shows[i].showTitle%> - <%=shows[i].showCity%></option>
                <% } %>
                </select> 
                <label for="datepicker" class="visually-hidden">Show Date</label>
                <input type="text" class="form-control datepicker" name="showDate" placeholder="Show Date" required>
                <label for="review-content" class="visually-hidden">Review Content</label>
                <textarea type="text" class="review-content-box" name="reviewContent" placeholder="Review" id="review-content" required></textarea>
            </div>

            <div class="form-group">
                <div class="review-rating">
                <h3 class="form-label">Review Rating</h3>
                    <div class="rating-image">
                         <label for="star-one" class="visually-hidden">Rating of 1</label>
                        <input class="star-rating" type="radio" name="rating" value="1" id="star-one"><i class="star-rating-icon" aria-hidden="true"></i>
                        <label for="star-two" class="visually-hidden">Rating of 2</label>
                        <input class="star-rating" type="radio" name="rating" value="2" id="star-two"><i class="star-rating-icon" aria-hidden="true"></i>
                        <label for="star-three" class="visually-hidden">Rating of 3</label>
                        <input class="star-rating" type="radio" name="rating" value="3" id="star-three"><i class="star-rating-icon" aria-hidden="true"></i>
                        <label for="star-four" class="visually-hidden">Rating of 4</label>
                        <input class="star-rating" type="radio" name="rating" value="4" id="star-four"><i class="star-rating-icon" aria-hidden="true"></i>
                        <label for="star-five" class="visually-hidden">Rating of 5</label>
                        <input class="star-rating" type="radio" name="rating" value="5" id="star-five"><i class="star-rating-icon" aria-hidden="true"></i> 
                    </div>
                </div>
            </div> 

            <div class="form-group">
                <div class="privacy-toggle">
                <h3 class="form-label">Privacy</h3>
                <p>Please indicate if you would like this review to be public or private. The default selection is private.</p>
                <label class="privacy-button" for="privacy-toggle">
                    <input type="checkbox" id="privacy-toggle" name="public" value="true">
                    <div class="slider"></div>
                </label>
                <label for="privacy-toggle" name="public">Public</label>
                </div>
            </div>

            <button class="submit-button" type="submit">Submit<span class="visually-hidden">Submit Review</span></button>
        </form> 
        </section>

    </main>

    <%- include('footer', {}); %>
    <%- include('scripts', {}); %>

</body>
</html>
